<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  {{>lien}}
</head>
<body>
    {{>header}}
    <div> Page battle <br></div>
    
    <input placehoder="nom" type="text">
    <button id="go">Go</button>
    {{>footer}}
    {{>script}}
</body>
</html>