<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   {{>lien}}
</head>
<body>
    {{>header}}
    <div> SUperhero html <br> {{creator.level}}</div>
    <div> son {{nom}} </div>
    <input placehoder="nom" type="text" id="input"/>
    <button id="go">Go</button>
    <br>
    <br>
    <br>
     {{>form num="1"}}
     {{>form num="2"}}
    {{>footer}}
    {{>script}}

</body>
</html>