<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SuperHero Battle - Node</title>
	{{>headPartial}}
</head>
<body>
	{{>header}}
	<h1>Bienvenue dans l'arène !</h1>
	{{>footer}}
</body>
</html>